<style type="text/css">
  #printableArea {
    font-size: 18px;
  }

  #bar-title {
    text-align: center;
  }

  p span {
    font-weight: bold;
  }

  .bar-text {
    margin-bottom: 5px;
  }

  html[data-netbox-color-mode=dark] .bar-text {
    margin-bottom: 5px;
  }

  img {
    width: 100%;
    max-height: 71px;
  }

  @media print {
    .bar-text {
      font-size: 18px;
      /* margin-top: 5px;
      margin-bottom: 5px; */
    }
  }
</style>

<script>
  function printPageArea(areaID) {
    var originalContent = document.body.innerHTML;
    var printContent = document.getElementById(areaID).innerHTML;
    document.body.innerHTML = printContent;
    window.print();
    document.body.innerHTML = originalContent;
  }
</script>
{% extends 'base/layout.html' %}
{% block title %}Barcode Info{% endblock %}
{% block header %}
<div id="bar-title">
  <h2>Информация по баркоду</h2>
  <a href="javascript:void(0);" onclick="printPageArea('printableArea')" class="btn btn-green">Print</a>
  <a href="javascript:void(0);" onclick="printPageArea('printableAreaNoCompany')" class="btn btn-green">Print w/o Company Info</a>
</div>
{% endblock header %}
{% block content %}
<div id="printableArea">
  {% include 'netbox_barcode/company_info.html' %}
  <div id="printableAreaNoCompany">
    <table>
      <tr>
        <td>
        {% if partnumber %}
        <p class="bar-text"><span>Артикул производителя:</span> {{ partnumber }} </p>
        <img src="{{ barcode_partnumber.url }}" alt='barcode_partnumber'>
        {% endif %}
        {% if sn %}
        <p class="bar-text"><span>Серийный номер:</span> {{ sn }} </p>
        <img src="{{ barcode_sn.url }}" alt='barcode_sn'>
        {% endif %}
        {% if stock_number %}
        <p class="bar-text"><span>Складской номер:</span> {{ stock_number }} </p>
        <img src="{{ barcode_stocknumber.url }}" alt='barcode_stocknumber'>
        {% endif %}
        <p class="bar-text"><span>Кол-во:</span> {{device_count}} </p>
        <p class="bar-text"><span>Дата проверки:</span> {% now "SHORT_DATE_FORMAT" %}</p>
      </td>
    </tr>
    </table>
  </div>
</div>
{% endblock content %}