<style type="text/css">
  #printableArea {
    font-size: 18px;
  }

  #bar-title {
    text-align: center;
  }

  #bar-title .btn-wd {
    min-width: 100px;
    margin: 10px auto;
  }

  p span {
    font-weight: bold;
  }

  .bar-text {
    margin-bottom: 5px;
  }

  html[data-netbox-color-mode=dark] .bar-text {
    margin-bottom: 5px;
  }

  #title-vertical {
    margin: 10 auto;
    display: flex;
    justify-content: center;
  }

  .vertical tr,
  .vertical td {
    display: flex;
    flex-direction: column;
  }

  .image {
    flex-shrink: 0;
  }

  img {
    width: 100%;
    max-height: 71px;
  }

  @media print {
    .bar-text {
      font-size: 18px;
      /* margin: 5px 0px 5px 20px; */
    }
  }
</style>

<script>
  function printPageArea(areaID) {
    var originalContent = document.body.innerHTML;
    var printContent = document.getElementById(areaID).innerHTML;
    var originalchbox = document.getElementById('flexSwitchCheckDefault').checked;
    document.body.innerHTML = printContent;
    window.print();
    document.body.innerHTML = originalContent;
    document.getElementById('flexSwitchCheckDefault').checked = originalchbox
  }
</script>

<script>
  function VerticalAlligment() {
    var barcodetable = document.getElementById('barcodetable');
    var chbox = document.getElementById('flexSwitchCheckDefault');
    if (chbox.checked) {
      barcodetable.classList.add("vertical");
    }
    else {
      barcodetable.classList.remove("vertical");
    }
  }
</script>

{% extends 'base/layout.html' %}
{% block title %}Barcode List Print View{% endblock %}
{% block header %}
  <div id="bar-title">
    <h2>Информация по баркодам для выбранных устройств</h2>
    <a href="javascript:void(0);" onclick="printPageArea('printableArea')" class="btn btn-green">Print</a>
    <a href="javascript:void(0);" onclick="printPageArea('printableAreaNoCompany')"
      class="btn btn-green">Print w/o Company Info</a>
  </div>
  <div class="form-check form-switch" id="title-vertical">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onchange="VerticalAlligment()">
    <label class="form-check-label" for="flexSwitchCheckDefault">Vertical barcode orientation</label>
  </div>
{% endblock header %}
{% block content %}
  <div id="printableArea">
    {% include 'netbox_barcode/company_info.html' %}
    <div id="printableAreaNoCompany">
      <table id="barcodetable">
        {% for item in devices %}
        <tr>
          <td>
            {% if item.device_type.barcode_pn %}
            <p class="bar-text"><span>Артикул производителя:</span> {{ item.device_type.barcode_pn.part_number}} </p>
            <div class="image">
              <img src="{{ item.device_type.barcode_pn.barcode.url }}" alt='barcode_partnumber'>
            </div>
            {% endif %}
          </td>
          <td></td>
          <td>
            {% if item.barcode_sn %}
            <p class="bar-text"><span>Серийный номер:</span> {{ item.barcode_sn.sn }} </p>
            <div class="image">
              <img src="{{ item.barcode_sn.barcode.url }}" alt='barcode_sn'>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      <p class="bar-text"><span>Кол-во:</span> {{ devices.count }} </p>
      <p class="bar-text"><span>Дата проверки:</span> {% now "SHORT_DATE_FORMAT" %}</p>
    </div>
  </div>
{% endblock content %}