<style type="text/css">
  .barcode-header {
    display: flex;
    justify-content: space-between;
  }
  .barcode-title {
    padding: 0 16px 0 16px;
  }
  .barcode-btn-right {
    display: flex;
    align-content: space-evenly;
  }
  .barcode-btn {
    margin: 8px 16px 8px 0 !important;
  }
  .barcode-btn-remove {
    margin-top: 14px;
  }
  .barcode-table th, .barcode-table td {
    text-align: center !important;
  }
  .barcode-get-all {
    text-align: center;
  }
</style>

{% extends 'base/layout.html' %}
{% load render_table from django_tables2 %}
{% block title %}Barcode List{% endblock %}
{% block header %}
  <div class="barcode-header">
    <div>
      <h1  class="barcode-title h2 w-100">Barcode Bulk Print List</h1>
    </div>
    <div class="barcode-btn-right">
      <div>
        <a href="{% url 'plugins:netbox_barcode:barcode_addform' %}" type="button" class="btn btn-success barcode-btn">
          <i class="mdi mdi-plus-thick"></i>
          Add Device
        </a>
      </div>
      <div>
        <form action="{% url 'plugins:netbox_barcode:barcode_bulktable' %}" method="post">
          {% csrf_token %}
          <button type="submit" name="editlist" value="removeall" class="btn btn-danger barcode-btn">
            <i class="mdi mdi-trash-can-outline" aria-hidden="true">
            </i>
            Erase table
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock header %}

{% block content %}

  <div class="card card-body">
    <div class="barcode-table">
      {% render_table table_barcode %}
    </div>
  </div>
  <div class="barcode-get-all">
    <a href="{% url 'plugins:netbox_barcode:barcode_info_bulk' %}" type="button" class="btn btn-outline-primary" target="_blank">
      Get barcodes for this list
    </a>
  </div>
{% endblock content %}