<style type="text/css">
  #printableArea {
    font-size: 18px;
  }

  #bar-title {
    text-align: center;
  }

  #bar-title .btn-wd {
    min-width: 100px;
    margin: 10px auto;
  }

  p span {
    font-weight: bold;
  }

  .p-text {
    margin: 5px 0px 5px 20px;
    font-size: 18px;
  }

  html[data-netbox-color-mode=dark] .p-text {
    margin: 5px 0px 5px 20px;
  }

  @media print {
    .p-text {
      font-size: 18px;
      margin: 5px 0px 5px 20px;
    }
  }
</style>

<script>
  function printPageArea(areaID) {
    var originalContent = document.body.innerHTML;
    var printContent = document.getElementById(areaID).innerHTML;
    document.body.innerHTML = printContent;
    window.print();
    document.body.innerHTML = originalContent;
  }
</script>

{% extends 'base/layout.html' %}
{% block title %}Barcode List Print View{% endblock %}
{% block header %}
<div id="bar-title">
  <h2>Информация по баркодам для выбранных устройств</h2>
  <a href="javascript:void(0);" onclick="printPageArea('printableArea')" class="btn btn-sm btn-success btn-wd">Print</a>
  <a href="javascript:void(0);" onclick="printPageArea('printableAreaNoCompany')" class="btn btn-sm btn-success btn-wd">Print w/o Company Info</a>
</div>
{% endblock header %}
{% block content %}
<div id="printableArea">
{% include 'netbox_barcode/company_info.html' %}
  <div id="printableAreaNoCompany">
    <table>
      {% for item in devices %}
      <tr>
        <td>
          {% if item.device_type.barcode_pn %}
            <p class="p-text"><span>Артикул производителя:</span> {{ item.device_type.barcode_pn.part_number}} </p>
            <img style="visibility: visible; display: block;" src="{{ item.device_type.barcode_pn.barcode.url }}" alt='barcode_partnumber'>
          {% endif %}
        </td>
        <td></td>
        <td>
          {% if item.barcode_sn %}
            <p class="p-text"><span>Серийный номер:</span> {{ item.barcode_sn.sn }} </p>
            <img style="visibility: visible; display: block;" src="{{ item.barcode_sn.barcode.url }}" alt='barcode_sn'>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <p class="p-text"><span>Кол-во:</span> {{ devices.count  }} </p>
    <p class="p-text"><span>Дата проверки:</span> {% now "SHORT_DATE_FORMAT" %}</p>
  </div>
</div>
{% endblock content %}