<style type="text/css">
  .barcode-tab {
    margin: 0 0 10px 20px;
  }

  .barcode-tab a {
    color: blue;
    text-decoration: underline;
  }
  .p-tabl {
    margin-bottom: 5px;
  }

  html[data-netbox-color-mode=dark] .barcode-tab a {
    color: blue;
    text-decoration: underline;
  }

  table td {
    font-weight: normal;
    padding: 3px;
    font-size: 18px;
  }

  html[data-netbox-color-mode=dark] table td {
    font-size: 18px;
  }

  .barcode-tab-empty {
    width: 30px;
  }

  @media print {
    .p-tabl {
      font-size: 18px;
    }
  }
</style>

<div>
  <p class="bar-text"> <span>Собственность ООО "Неткьюб"</span> </p>
  <div >
    <table class="barcode-tab">
      <tr>
        <td>
          <p class="p-tabl">ИНН:</p>
        </td>
        <td class="barcode-tab-empty"></td>
        <td>
          <p class="p-tabl">7228632833</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="p-tabl">КПП:</p>
        </td>
        <td class="barcode-tab-empty"></td>
        <td>
          <p class="p-tabl">722801001</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="p-tabl">Адрес:</p>
        </td>
        <td class="barcode-tab-empty"></td>
        <td>
          <p class="p-tabl">117246, г.Москва, Научный проезд,<br>
            д.14а, стр.4, офис 12</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="p-tabl">email:</p>
        </td>
        <td class="barcode-tab-empty"></td>
        <td>
          <p class="p-tabl"><a href="mailto:tac@netcube.ru">tac@netcube.ru</a></p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="p-tabl">тел:</p>
        </td>
        <td class="barcode-tab-empty"></td>
        <td>
          <p class="p-tabl">+7 (495) 783-40-34 <br> +7 (495) 974-15-52</p>
        </td>
      </tr>
    </table>
  </div>
</div>