<style type="text/css">
  .barcode_tab {
    margin: 0 0 10px 20px;
  }

  .barcode_tab a {
    color: blue;
    text-decoration: underline;
  }

  html[data-netbox-color-mode=dark] .barcode_tab a {
    color: blue;
    text-decoration: underline;
  }

  table th {
    font-weight: normal;
    padding: 3px;
    font-size: 18px;
  }

  html[data-netbox-color-mode=dark] table th {
    font-size: 18px;
  }

  .barcode_tab_empty {
    width: 40px;
  }

  @media print {
    .p_tabl {
      font-size: 18px;
    }
  }
</style>

<div>
  <p class="p_text"> <span>Собственность ООО "Неткьюб" </span> </p>
  <div class="barcode_tab">
    <table>
      <tr>
        <th>
          <p class="p_tabl">ИНН:</p>
        </th>
        <th class="barcode_tab_empty"></th>
        <th>
          <p class="p_tabl">7228632833</p>
        </th>
      </tr>
      <tr>
        <th>
          <p class="p_tabl">КПП:</p>
        </th>
        <th class="barcode_tab_empty"></th>
        <th>
          <p class="p_tabl">722801001</p>
        </th>
      </tr>
      <tr>
        <th>
          <p class="p_tabl">Адрес:</p>
        </th>
        <th class="barcode_tab_empty"></th>
        <th>
          <p class="p_tabl">117246, г.Москва, Научный проезд,<br>
            д.14а, стр.4, офис 12</p>
        </th>
      </tr>
      <tr>
        <th>
          <p class="p_tabl">email:</p>
        </th>
        <th class="barcode_tab_empty"></th>
        <th>
          <p class="p_tabl"><a href="mailto:tac@netcube.ru">tac@netcube.ru</a></p>
        </th>
      </tr>
      <tr>
        <th>
          <p class="p_tabl">тел:</p>
        </th>
        <th class="barcode_tab_empty"></th>
        <th>
          <p class="p_tabl">+7 (495) 783-40-34 <br> +7 (495) 974-15-52</p>
        </th>
      </tr>
    </table>
  </div>
</div>